<div class="featured-content">
	<div class="substrate">
		<img src="http://themextemplates.com/demo/academy/wp-content/themes/academy/images/bgs/site_bg.jpg" class="fullwidth" alt="">
	</div>
	<div class="row">
		<div class="page-title">
			<h1 class="nomargin">Registo</h1>
		</div>
	</div>
</div>


<!-- /featured -->
<div class="main-content">
	<div class="row">
		<div class="eightcol column">
			<h1>Registo</h1>
			<%= form_for(resource, :html => {:class => "ajax-form formatted-form"}, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
			
				<div class="message"></div>
				
				<div class="sixcol column">
					<div class="field-wrapper">
						<%= f.text_field :nome, :autofocus => true, :type => "text", :name => "user_login", :placeholder => "Nome" %>
					</div>
				</div>
				<div class="sixcol column last">
					<div class="field-wrapper">
  						<%= f.email_field :email, :type => "text", :name => "user_email", :placeholder => "Email" %>
					</div>
				</div>
				<div class="clear"></div>
				<div class="sixcol column">
					<div class="field-wrapper">
						<%= f.password_field :password , :name => "user_password", :placeholder => "Password"%>
					</div>
				</div>
				<div class="sixcol column last">
					<div class="field-wrapper">
						<%= f.password_field :password_confirmation , :name => "user_password_repeat", :placeholder => "Repetir Password"%>
					</div>
				</div>
				<div class="clear"></div>			
				
				<a href="#" class="button submit-button left">
					<% f.submit :class => "button submit-button left" %>
					<span class="button-icon register"></span>Registar
				</a>
				
				<div class="form-loader"></div>
				<!--
					<input type="hidden" name="user_action" value="register_user">
					<input type="hidden" name="user_redirect" value="">
					<input type="hidden" name="nonce" class="nonce" value="a81f57da94">
					<input type="hidden" name="action" class="action" value="themex_update_user">
				-->
			<% end %>
		</div>
		
		<div class="fourcol column last">
			<h1>Sign In</h1>
			<form class="ajax-form formatted-form" action="http://themextemplates.com/demo/academy/wp-admin/admin-ajax.php" method="POST">
				<div class="message"></div>
				<div class="field-wrapper">
					<input type="text" name="user_login" value="Demo">
				</div>
				<div class="field-wrapper">
					<input type="password" name="user_password" value="Demo">
				</div>			
				<a href="#" class="button submit-button left"><span class="button-icon login"></span>Sign In</a>
				<div class="form-loader"></div>
				<input type="hidden" name="user_action" value="login_user">
				<input type="hidden" name="user_redirect" value="">
				<input type="hidden" name="nonce" class="nonce" value="a81f57da94">
				<input type="hidden" name="action" class="action" value="themex_update_user">
			</form>			
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- /content -->